@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

* {
  box-sizing: border-box;
  font-family: "Red Hat Display", sans-serif;
}

body {
  background: #e0e8ff url("./images/pattern-background-desktop.svg");
  background-repeat: repeat-x;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
